.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: -60%;
}

.container {
  background-color: #fff;
  color: var(--green-950);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 560px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
}

.container input {
  background-color: var(--custom-white);
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 12px;
  width: 100%;
}

.container input:focus {
  box-shadow: none;
}

.container span {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
}

.container p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container a {
  color: var(--green-600);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container h1 {
  font-size: 38px;
  font-weight: 600;
  color: var(--green-800);
  text-align: center;
}

.form-container button {
  background-color: var(--green-800);
  color: var(--custom-white);
  font-size: 14px;
  padding: 10px 50px;
  border-radius: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px;
  /* transition: filter 0.2s ease, transform 0.2s ease; */
  transition: background-color 0.2s ease;
}

.form-container button:hover {
  /* filter: brightness(1.5);
  transform: scale(1.05); */
  background-color: var(--green-700);
}

.sign-in {
  left: 0;
  width: 60%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
  opacity: 0;
}

.sign-up {
  left: 0;
  width: 60%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(66.5%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }
  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
  border-radius: 125px 0 0 85px;
}

.container.active .toggle-container {
  transform: translateX(-150%);
  border-radius: 0 125px 85px 0;
}

.toggle {
  background-image: url('../../assets/images/authBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: var(--custom-white);
  position: relative;
  left: -100%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  width: 200%;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle h1 {
  font-size: 28px;
  font-weight: 600;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.toggle-container button.hidden {
  background-color: transparent;
  color: var(--custom-white);
  border: 1px solid var(--custom-white);
  border-radius: 8px;
  padding: 10px 45px;
  transition: transform 0.2s ease-in-out;
}

.toggle-container button.hidden:hover {
  background-color: var(--custom-white);
  color: var(--green-800);
  box-shadow: 0 1px 30px 10px rgba(231, 229, 229, 0.4);
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 10px;
  text-align: center;
}



/*==========iPAD==========*/
@media only screen and (min-width: 700px) and (max-width: 835px) {
  .container {
    width: 700px;
    min-height: 650px;
  }
  .form-container h1 {
    line-height: 45px;
    margin-bottom: 10px;
  }
}

/*========MOBILE==========*/
@media only screen and (max-width: 700px){
  .container {
    width: 320px;
    max-width: 100%;
    min-height: 600px;
  }
  .form-container h1 {
    line-height: 42px;
    margin-bottom: 6px;
  }
  .sign-in, .sign-up {
    width: 80%;
  }
  .sign-up form {
    padding: 0 1rem;
  }
  .toggle-panel h1, .toggle-panel p {
    display: none;
  }
  .toggle-container button.hidden-signup, .toggle-container button.hidden-signin {
    border: none;
    height: auto;
    width: auto;
    font-size: 150%;
    letter-spacing: 16px;
  }
  .toggle-container button.hidden-signup{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .toggle-container button.hidden-signin {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
  }
  .toggle-container {
    left: 80%;
    width: 20%;
    border-radius: 115px 0 0 75px;
  }
  .container.active .toggle-container {
    transform: translateX(-400%);
    border-radius: 0 115px 75px 0;
  }
  .container.active .sign-up {
    transform: translateX(25%);
  }
  .toggle-container button.hidden:hover {
    background-color: transparent;
    color: var(--custom-white);
    box-shadow: unset;
    transform: scale(1);
  }
  .container input {
    font-size: 12px;
    margin: 5px 0;
    padding: 8px 15px;
  }
  .error-message {
    font-size: 10px;
  }
}
