* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --green-500: #2ED54D;
  --green-600: #24A34B;
  --green-700: #1B7E3C;
  --green-800: #14522C;
  --green-900: #053419;
  --green-950: #042512;
  --custom-white: #edf6f9;
  --gradient-green: linear-gradient(to right, var(--green-700), var(--green-800), var(--green-900));
}

.bg-gradient-green {
  background: var(--gradient-green)
}

.whiteShadow {
  box-shadow: 2px 2px 0 0 var(--custom-white);
}

.whiteShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0 0 var(--custom-white);
}